/* light orange FDD09F, red CB6555, blue B9DDD6, yellow FAE0A8, black 3A3D3C, green B6BF9D */


a {
    padding: 0px;
}

#usrinput {
    resize: none;
    width: 350px;
}

#main-card {
    
    padding-top: 0px;
    text-align: center;
}

div.title-cards {
    width: 375px;
    min-width: 200px;
    border: 2px solid #6b6b6b;
    border-radius: 5;
    padding-top: 5px;
    padding: 7.5px;
    margin: 20px;
    flex-shrink: 1;
}

.title-list {
    padding: 5px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    align-items: flex-start;
}

#sickGames {
    width: 200px;
    padding: 0px;
}

.button {

    background-color: #FF7F29;
    color:#ffffff;
    border-width: 0px;
    width: 300px;
    height: 25px;
    border-radius: 2.5px;
    
}


#subbtn {
    border-width: 0px;
    width: 75px;   
    
}



body {
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    
    /* display: flex;
    flex-direction: column ; */
}

#image {
    width: 80%;
    height: 80%;
    border-radius: 10px;    
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #B9DDD6;
    border-radius: 10px;
    
}

h2 {
    font-size: 2em;
    color: #FF7F29;
    margin: 10px; 
}


h3 {
    background-color: #6B6B6B ;
    color:#ffffff;
    border-radius: 2.5px;
    text-align: center;
    padding: 10px;
    margin-top: 0%;
}

h4 {
    background-color: green;
    color: white;
    width: auto;    
    display: inline-block;
    border-radius: 2.5px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: small;
    
}

h5 {
    margin: 10px;
}




#form {
    text-align: center;
    list-style: none;
}

#list {
    text-align: center;
    list-style: none;
    
}

#random-game {

    width: auto;
    text-align: center;

}

#review-list {
    list-style: none;
}

#randomButton {
    display: flexbox;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}


#game-titles {
    padding: 10px;
}

#review-button {
    padding-bottom: 10px;
}

