
h1 {
    text-align: center;
    font-family: fantasy;
    background-color: rgb(199, 197, 197);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.button {
    color: rgb(39, 39, 39);
    
}

#main-card {
    text-align: center;
}

#form {
    text-align: center;
}